#post {
  display: flex;
  width: 600px;
  height: auto;
  border: 2px solid rgb(200, 200, 200);

  margin: 0px auto;
  flex-direction: column;
}
#author-space {
  display: flex;
  flex-direction: row;
  height: 50px;
  background: white;

  align-items: center;
  font-size: 30px;
}
#author-space > img {
  width: 50px;
  height: 50px;
}

.map {
  width: calc(100%);
  height: 600px;
  margin: 0px auto;
}
#img_list {
  width: 100vw;
  white-space: nowrap;
}
#img_list > #img {
  width: 80vw;
  margin: 0 10vw 0 10vw;
  display: inline-blockd;
}
.imgUrl > img {
  width: calc(100%);
  height: 599px;
}
#prevImg {
  width: 50px;
  height: 20px;
  font-size: 8px;
}
#nextImg {
  width: 50px;
  height: 20px;
  font-size: 8px;
}
#interaction {
  display: flex;
  width: calc(100%);
  flex-direction: row;
  justify-content: flex-end;
}

#good_button > button {
  width: 50px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 8px;
  color: rgb(211, 171, 211);
}

#share_button > button {
  width: 50px;
  height: 20px;
  margin-right: 10px;
  font-size: 8px;
}
#goodCount {
  font-size: 8px;
  margin-right: 8px;
}
#social_space {
  background-color: white;
  height: auto;
  width: calc(100%);
  margin: 0px auto;
  margin-top: 5px;
}

#read_comment {
  height: auto;
}

#user_comment {
  margin-top: 3px;
  margin-bottom: 3px;
}
#user_comment > img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-left: 5px;
}
#user_comment > span {
  font-size: 8px;
  margin-left: 3px;
  margin-right: 5px;
}
#comment {
  display: flex;
  justify-content: flex-start;
  flex-basis: 1px;
  align-items: center;
  margin-top: 0px;
}
ul {
  list-style: none;
  padding: 0px;
}
#profile_img > img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-left: 5px;
}
#profile_name {
  width: 50px;
}
#profile_name > #name {
  font-size: 8px;
}
#test2 {
  background-color: black;
}
.Input_Commponent > #Input_Comment {
  width: 450px;
}
#upload_comment_btn {
  margin-left: 30px;
}
