* {
  margin: 0px;
  padding: 0px;
  line-height: normal;
}
body {
  background-color: rgb(240, 235, 240);
}
#header-space {
  display: flex;
  height: 80px;
  border-bottom: 1px solid rgb(122, 110, 122);
  background: white;
  align-items: center;
  top: 0;
  justify-content: center;
  position: sticky;
}
#logo_space {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 80px;
  width: 600px;
}
#header-logo > img {
  width: 80px;
  height: 80px;
}
#header-text {
  width: 100px;
  font-size: 50px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
}
#body {
  height: 100vh;
  margin: 0 auto;
  padding-top: 30px;
  border-left: 1px solid rgb(0, 0, 0);
  border-right: 1px solid rgb(0, 0, 0);

  background-color: rgb(240, 235, 240);
}
#post {
  display: flex;
  width: 600px;
  height: 850px;
  border: 1px solid rgb(3, 0, 3);

  margin: 0px auto;
  flex-direction: column;
}
#author-space {
  display: flex;
  flex-direction: row;
  height: 50px;
  background: white;

  align-items: center;
  font-size: 30px;
}
#author-space > img {
  width: 50px;
  height: 50px;
}

#map {
  width: 600px;
  height: 600px;
  margin: 0px auto;
}
#map > img {
  width: 599px;
  height: 599px;
}
#interaction {
  display: flex;
  width: 598.5px;
  flex-direction: row;
  justify-content: flex-end;
}

#good_button > button {
  width: 50px;
  height: 20px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 8px;
  color: rgb(211, 171, 211);
}

#share_button > button {
  width: 50px;
  height: 20px;
  margin-right: 10px;
  font-size: 8px;
}
#social_space {
  background-color: white;

  width: 598px;
  height: 130px;
  margin: 0px auto;
  margin-top: 5px;
}

#read_comment {
  height: 120px;
  background-color: khaki;
}

#Form {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 32px;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.Button {
  margin-left: 100px;
}
.label {
}
#Input_Comment {
  width: 400px;
}
#footer {
  height: 200px;
}
